@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,700&family=Roboto:wght@300&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;

}
*{
    margin: 0;
    padding: 0;
}

/* nav section  */
nav {
    padding: 1rem ;
}
nav >  .nav-right > a{
    padding: 1.5rem;
    margin-right: 1.5rem;
    text-decoration: none;

}
.nav-right{
    margin-left: 50%;
}

/* About Section  */
#about{
    display: flex;
    justify-content: space-between;
}
#about .about-right{
    padding-right: 10%;
    padding-bottom: 20px;
    padding-top: 30px;
}
#about-left{
    padding-top: 40px;
    padding-left: 7%;
}
#about-left ul li{
    list-style: none;
    padding-top: 8px;
}

/* Work Section  */
#work > h3{
    padding-left: 40%;
}

/* Resume section */
#resume > h3 {
    padding-left: 40%;
}
.resumeDiv {
    display: flex;

}
.resume-right{
    padding-left: 20%;
}

/* Contact section */
#contact > h3 {
    padding-left: 40%;
    padding-top: 10px;
}
#contact > form {
    padding: 20px;
}
#contact > form > label {
    padding: 10px;
}
#contact  form  input {
    padding: 7px;
    border-radius: 2px;
    margin: 20px;
}
#first-input{
    margin-left: 33px;
    display: inline;
}
#second-input{
    margin-left: 7px;
    display: inline;
}
#contact-btn{
        background: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        border-style: none;
      
     
}
#contact-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

/* Footer Section */
footer h3 {
    padding-left: 40%;
    padding-top: 10px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.footer-content > .footer-left{
    padding-left: 20px;
}